# Build output
dist/

# Generated Sass output
src/styles/em-map.raw.css
src/styles/em-map.raw.css.map

# Node dependencies
node_modules/

# Lint / tooling caches
.eslintcache

# Test output
coverage/
test_results/
cypress/screenshots/
cypress/videos/
cypress/downloads/

# IDEs / OS
.idea
.vscode
**/.DS_Store

# Env files
.env
