@import 'govuk-frontend/dist/govuk/settings/all';
@import 'govuk-frontend/dist/govuk/tools/all';
@import 'govuk-frontend/dist/govuk/helpers/all';

:host {
  --em-scale-bar-bottom: #{govuk-spacing(4)};
}

:host[type='button']:not(:disabled),
:host[type='reset']:not(:disabled),
:host[type='submit']:not(:disabled),
:host button:not(:disabled) {
  cursor: pointer;
}

:host .ol-control {
  background-color: none;
  box-shadow: none;
  padding: 0;
}

:host .ol-control button {
  @include govuk-font(19, $weight: bold);
  font-family: $govuk-font-family;
  line-height: 1;
  background-color: govuk-colour('white');
  color: govuk-colour('black');
  border: 1px solid govuk-colour('black');
  border-radius: 0;
  width: 2em;
  height: 2em;
  text-align: center;
  padding: 0;
  margin: 0;
  box-shadow: none;
  transition:
    background-color 0.1s ease-in-out,
    color 0.1s ease-in-out,
    border-color 0.1s ease-in-out;
}

:host .ol-control button:hover,
:host .ol-control button:focus {
  text-decoration: none;
  outline: 1px solid govuk-colour('black');
}

/* Rotate styles */
:host .ol-control.ol-rotate {
  background-color: transparent;
  left: 0.5em;
  right: auto;
  top: 70px;

  .ol-rotate-reset {
    border-radius: 50%;
    display: inline;
  }

  .ol-compass {
    font-size: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='29' fill='%23333' viewBox='0 0 29 29'%3E%3Cpath d='m10.5 14 4-8 4 8z'/%3E%3Cpath fill='%23ccc' d='m10.5 16 4 8 4-8z'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .em-rotate-tooltip {
    display: inline;
    position: relative;
    top: 56px;
    left: -19px;
    transform: translateY(0);
    padding: 6px 10px;
    border-radius: 4px;
    background: rgba(govuk-colour('black'), 0.75);
    color: govuk-colour('white');
    font-size: 13px;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    transition:
      opacity 150ms ease-out,
      transform 150ms ease-out;
    z-index: 20;
  }

  .em-rotate-tooltip.is-visible {
    opacity: 1;
    transform: translateY(-4px);
  }
}

/* When zoom slider is present, move rotate below the slider */
:host(.has-zoom-slider) .ol-control.ol-rotate {
  top: 270px;
}

/* Zoom slider styles */
:host(.has-zoom-slider) .ol-zoom .ol-zoom-out {
  margin-top: 200px;
}

:host(.has-zoom-slider) .ol-zoomslider {
  background-color: transparent;
  top: 46px;
  left: 0.5em;
  width: 38px;
  height: 200px;
  position: absolute;
}

:host(.has-zoom-slider) .ol-zoom-in.ol-has-tooltip:hover [role='tooltip'],
:host(.has-zoom-slider) .ol-zoom-in.ol-has-tooltip:focus [role='tooltip'] {
  top: 3px;
}

:host(.has-zoom-slider) .ol-zoom-out.ol-has-tooltip:hover [role='tooltip'],
:host(.has-zoom-slider) .ol-zoom-out.ol-has-tooltip:focus [role='tooltip'] {
  top: 232px;
}

:host .ol-zoomslider button {
  position: relative;
  height: 10px;
}

// Scale bar positioned centrally at the bottom
:host .ol-scale-bar {
  bottom: var(--em-scale-bar-bottom);
  left: 50%;
  transform: translateX(-50%);
}

:host .ol-scale-text {
  @include govuk-font(16);
  color: govuk-colour('black');
}

:host .ol-scale-step-text {
  @include govuk-font(14);
  color: govuk-colour('black');
}

:host .ol-scale-singlebar-even {
  background-color: govuk-colour('black');
}

/* coordinates */
:host .em-map__location-dms {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(var(--em-scale-bar-bottom) + govuk-spacing(5));
  @include govuk-font(16);
  background: transparent;
  padding: 2px 6px;
  border-radius: 4px;
  white-space: nowrap;
}

/* MapLibre controls */

// Active state (extrusion toggled on)
:host .maplibregl-ctrl button.active {
  background-color: govuk-colour('mid-grey');
  color: govuk-colour('white');
}

:host .maplibregl-ctrl button.active:hover,
:host .maplibregl-ctrl button.active:focus {
  background-color: govuk-colour('dark-grey');
  color: govuk-colour('white');
  outline: 1px solid govuk-colour('white');
}

// Disabled state
:host .maplibregl-ctrl button:disabled {
  background-color: govuk-colour('light-grey');
  color: govuk-colour('mid-grey');
  border-color: govuk-colour('mid-grey');
  cursor: not-allowed;
}

:host .maplibregl-ctrl button:disabled:hover,
:host .maplibregl-ctrl button:disabled:focus {
  background-color: govuk-colour('light-grey');
  color: govuk-colour('mid-grey');
  outline: none;
}
