/* Error: $color: govuk-colour("black") is not a color.
 *   ,
 * 9 |   box-shadow: 0 2px 4px rgba(govuk-colour('black'), 0.1);
 *   |                         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   src/components/map/styles/_overlay.scss 9:25  root stylesheet */

body::before {
  font-family: 'Source Code Pro', 'SF Mono', Monaco, Inconsolata, 'Fira Mono', 'Droid Sans Mono', monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: $color: govuk-colour("black") is not a color.\a   \2577 \a 9 \2502    box-shadow: 0 2px 4px rgba(govuk-colour(\'black\'), 0.1);\a   \2502                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   src/components/map/styles/_overlay.scss 9:25  root stylesheet';
}
