/* Error: Undefined variable.
 *   ,
 * 4 |   font-family: $govuk-font-family;
 *   |                ^^^^^^^^^^^^^^^^^^
 *   '
 *   src/components/map/styles/_viewport.scss 4:16  root stylesheet */

body::before {
  font-family: 'Source Code Pro', 'SF Mono', Monaco, Inconsolata, 'Fira Mono', 'Droid Sans Mono', monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined variable.\a   \2577 \a 4 \2502    font-family: $govuk-font-family;\a   \2502                 ^^^^^^^^^^^^^^^^^^\a   \2575 \a   src/components/map/styles/_viewport.scss 4:16  root stylesheet';
}
